# === [ Visual Studio / .NET ] ===
bin/
obj/
*.user
*.userosscache
*.sln.docstates
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.env

appsettings.Development.json
appsettings.Production.json
appsettings.Docker.json
.env
*.pfx
*.publishsettings

node_modules/
/dist
/build
/out
.next/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache


*.mdf
*.ldf
*.sdf
*.bak


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/


Thumbs.db
Desktop.ini
.DS_Store